.banner {
  .banner_content {
    background-color: #f8f9fa;
    border: 3px solid blue;
    padding: 50px 30px;
    h1 {
      font-weight: 400;
      font-size: 50px;
    }
    p {
      opacity: 0.7;
    }
  }
}
